apache-airflow-providers-celery==3.5.1
boto3==1.34.39
install==1.3.5
mysql-connector-python==8.3.0
onnx==1.15.0
onnxruntime==1.17.0
opencv-python==4.9.0.80
pip==24.0
pipdeptree==2.13.2
pipx==1.4.3
pycocotools==2.0.7
runtime==0.1.4
torchvision==0.17.0
virtualenv==20.25.0